@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html{
    scroll-behavior: smooth;
} 

body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    background: url("../Files/Main-background.png");
}

/* back to top button */

#top-btn{
    position: fixed;
    right: 50px;
    top: 85%;
    z-index: 100;
    font-size: 4em;
    visibility: hidden;
    opacity: 0;
    color: #B49167;
}

#top-btn.visible{
    visibility:visible;
    transition: ease-in-out 0.5s;
    opacity: 1;
}

#top-btn.invisible{
    visibility: hidden;
    transition: ease-in-out 0.5s;
    opacity: 0;
}

#top-btn:hover{
    cursor: pointer;
}

/* fisrt view */

#firstview{
    background:rgb(77, 77, 77);
    z-index: -1;
}

#landing{
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1541197790864-cec17045b2be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1966&q=80");
    background-position:center ;
    opacity: 0.4;
    margin: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navigation */

#logo{
    padding: 10px;
}

#logo img{

    border-radius :100px;
    z-index: 2;
    transform: translateY(-35px);
    width: 150px; ;
}

#navigation{
    background: #1e4c4e;
    border: none;
    margin: 0px;
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 50px;
    height: 75px;
    transform: translateY(-15px);
    justify-content: center;

}

div#bs-example-navbar-collapse-1 {
    margin: 13px;
}

#menu-elements{
    transform: translateX(5px);
}

#menu-elements li a{
    color:#B49167;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px ;
}

#menu-elements li a:hover{
    transition: ease-in-out 0.2s;
    color: rgb(243, 191, 132);
    background:#133133 ;
    border-radius: 5px;
}

.link-active{
    transition: ease-in-out 0.5s;
    color: rgb(243, 191, 132);
    background:#133133 ;
    border-radius: 5px;
}


#nav-search-icon{
    padding: 10px;
    transform: translateY(+5px);
    display: block;
}

#nav-search-icon li{
    color:#B49167;
    font-size: 1.4em;
    font-weight: bold;
    display: block;
}

#nav-search-icon:hover{
    transition: ease-in-out 0.5s;
    color: rgb(243, 191, 132);
    background:#133133 ;
    border-radius: 5px;
}

.invisible{
    display: none !important;
}

.visible{
    display: block !important;

}

#nav-search-box{
    color:#B49167;
    font-size: 1.2em;
    font-weight: bold;
    transform: translateY(5px);
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    background: #133133;
    display: none;
    border: hidden;
    outline: none;
    width: 0;
}



/* #menu-elements li form input:hover{
    transition: ease-in-out 0.5s;
    color: rgb(243, 191, 132);
    background:#133133 ;
    border-radius: 5px;
} */



/* main landing */

#landing-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-content: center;
}



#main-heading{
    align-content: center;
    color: white;
    font-size: 4em;
    text-align: center;
    margin: 80px;
}

/* 
#search-txt{
    width: 700px;
    border-radius: 21px;
    height: 50px;
    border: 0px;
    margin: 10px;
    font-size: 1em;
    padding: 30px;
}

.searchbar{
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-content: center;
    margin: 40px;
}

#search-btn{
    border: 0px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size :1em;;
} */

#main-search-icon{
    font-size: 3em;
    color: white;
    text-align: center;
}

#main-search-icon:hover{
    cursor: pointer;
}
#main-searchbar{
    display: none;
}

form{
    display: flex;
    justify-content: center;
}

#searchbar-main{
    border-radius: 20px;
    border: hidden;
    padding: 10px 30px 10px 30px ;
    color: black;
    font-size: 1.2em;
    align-content: top;
    width: 0px;
    background: rgba(255, 255, 255, 0.8);
    outline: none;

}

#searchbar-main:focus{
    background: white;
}

#down{
    font-size: 6em;
    font-weight: lighter;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    z-index: 3;
    color: white;
}

#down:hover{
    cursor: pointer;
}

/* main content */

#main-page{
    max-width: 70vw;
    margin: auto;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    margin-bottom: 200px;


}

#categories{
    text-align: center;
    margin: 0px;
    padding: 90px 60px 30px 90px;
    grid-column: 1/4;
    color: rgb(31, 31, 31);
    font-size: 3em;
    
}

.cat-item{
    width: 300px;
    height: 400px;
    margin:60px ;
    position: relative;
    background-color: rgb(117, 117, 117);
    border-radius: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cat-item img{
    width: 100%;
    height:auto;
    position: relative;
    opacity: 0.8;
    border-radius: 20px;
}

.cat-item img:hover{
    opacity: 0.5;
    width: 120%;
    transform: translateX(-30px);
    transform: translateY(-50px);
    transition: ease-in-out 0.5s;
    
}

.cat-item h3{
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 30px 10px 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

/* footer */

#footer{
    background: url("../Files/Footer-background.png");
    width: 100%;
}

#footer-content{
    max-width: 70vw;
    margin: auto;

}

/* #footer-brand{
    margin: 30px;
} */

#footer-brand img{
    border-radius: 100px;
    width: 100px;
    margin: 30px;
    
}

#footer-brand h3{
    color: rgb(243, 191, 132);
    margin: 0px;
    padding-bottom:  30px; 

}

#sources{
    float: right;
    margin: 30px;
}

#sources h3{
    color: white;
    
}

#sources li, #sources a, #sources ul{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0px;
}

#sources li{
    font-size: 20px;
}

/* trying to make responsive */

@media(max-width:1500px){

    #menu-elements li a{
        margin:0px;
    }

    #nav-search-icon{
        display: none!important;
    }

    #bs-example-navbar-collapse-1{
        padding-left: 0px;
        padding-right: 0px;
    }

    .container-fluid{
        padding-right: 0px;
    }

    #categories{
        grid-column: 1/3;
    }

    #main-page{
        grid-template-columns: auto auto;
    }

}

@media(max-width:1100px){
    #logo{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%) translateY(-150px) scale(0.8);

    }

    #bs-example-navbar-collapse-1{
        top: 300px;
        text-align: center;
    }

    #menu-elements{
        margin: 0px 100px 0px 100px;
    }

    #navigation{
        top: 200px;
    }

    .container-fluid{
        margin: auto !important;
        justify-self: center;
    }
}

@media(max-width:1100px){
    #menu-elements li a{
        font-size: 1.2em;
        padding: 10px;
        border-left: 1px rgba(197, 160, 115, 0.815) solid;
    }

    #menu-elements li a#travel{
        border-left: 0px;
    }

    .cat-item{
        width: 200px;
        height: 300px;
    }

    .cat-item img{
        transform: scale(1.3);
    }
}

@media(max-width:950px){
    #menu-elements{
        margin: 0px 50px 0px 50px;
    }
}

@media(max-width:850px){
    #menu-elements{
        margin: 0px 10px 0px 10px;
    }
}

@media(max-width:800px){
    #main-page{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }

    .cat-item{
        width: 60vw;
        height: 80vw;
        margin:auto;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .cat-item img{
        transform: scale(1);
    }

    #categories{
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 40px;
        max-width: 90%;
    }

}

@media(max-width:767px){


    #navigation{
        top: 30px;
    }
    
    #logo{
        position: relative;
        top: 120px ;
        z-index: 100;
        

    }

    #logo img{
        border: 2px #B49167 solid;
        transform: scale(0.8) translateY(-10px) translateX(+20px);
        
    }
    
    .navbar-header{
        position: relative;
        width: 100%;
    }

    .container-fluid{ 
        padding: 0px;
        
       
    }

    #bs-example-navbar-collapse-1{
        /* position: relative; */
        /* display: grid;
        grid-template-columns: auto auto auto; */
        transform: translateY(+20px);
        padding:  0px;
        border: hidden;
        background: rgba(7, 19, 20, 0.5);
        z-index: -1;
        width: 100%;
        margin: 0px!important;

    }

    .navbar-toggle.collapsed{
        margin: 0px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-3px);

    }

    .navbar-toggle{
        margin: 0px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-3px);

    }

    #menu-elements-right{
        display: none;
    }

    #menu-elements {
        display: grid;
        grid-template-columns:auto auto auto;

    }

    #menu-elements li a{
        border: hidden;
        border-bottom:1px #B49167 solid  ;
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 10px;
    }

    #menu-elements#travel a{
        padding-top: 30px;
    }

    #landing{
        height: 70vh;
    }
    #landing-content{
        top: 40%!important;
        font-size: 10px;
    }


    #main-heading{
        margin: 20px 0px 20px 0px;
        
        width: 90vw;
    }
    
    #searchbar-main{
        max-width: 300px;
        height: 30px;

    }

    .navbar-collapse.collapsing{
        display: none;
    }

    #down{
        display: none;
    }

    #top-btn{
        transform: scale(0.8) translateX(+50px);
    }

}